@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Renovar";
    Inquilino inquilino = (Inquilino)ViewBag.Inquilino;
    Inmueble inmueble = (Inmueble)ViewBag.Inmueble;
   
}

<h1><i class="bi bi-calendar2-plus-fill">   

</i>Renovar</h1>

<h4>Contrato de: @(inquilino.Apellido + " " + inquilino.Nombre + " en " + inmueble.Direccion)</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Renovar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" disabled />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input asp-for="FechaCierre" class="form-control" type="date" />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Direccion Inmueble</label>
                <input disabled value="@inmueble.Direccion" class="form-control" />
            </div>

            <div class="form-group">
                <label>Nombre Inquilino</label>
                <input disabled value="@inquilino.Nombre @inquilino.Apellido" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Renovar" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
