@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDA</h1>
    <h2> Este es el trabajo realizado por la alumna Macarena Herrera </h2> 
</div>
