@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <img src="https://mk0criptonoticijjgfa.kinstacdn.com/wp-content/uploads/2020/07/inmobiliaria-interes-especialista-blockchain.jpg">
</div>
